USE [ArtDeRue]
GO
/****** Object:  Table [dbo].[Artistes]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pseudonyme] [nvarchar](100) NOT NULL,
	[nom_reel] [nvarchar](100) NULL,
	[bio] [nvarchar](max) NULL,
	[nationalite] [nvarchar](100) NULL,
 CONSTRAINT [PK_Artistes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benevoles]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benevoles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](100) NOT NULL,
	[prenom] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Benevoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lieux]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lieux](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[adresse] [nvarchar](200) NULL,
	[quartier] [nvarchar](50) NULL,
	[latitude] [decimal](9, 7) NULL,
	[longitude] [decimal](9, 7) NULL,
 CONSTRAINT [PK_Lieux] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oeuvre_Artiste]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oeuvre_Artiste](
	[id_oeuvre] [int] NOT NULL,
	[id_artiste] [int] NOT NULL,
 CONSTRAINT [PK_Oeuvre_Artiste] PRIMARY KEY CLUSTERED 
(
	[id_oeuvre] ASC,
	[id_artiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oeuvre_Technique]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oeuvre_Technique](
	[id_oeuvre] [int] NOT NULL,
	[id_technique] [int] NOT NULL,
 CONSTRAINT [PK_Oeuvre_Technique] PRIMARY KEY CLUSTERED 
(
	[id_oeuvre] ASC,
	[id_technique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oeuvres]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oeuvres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[titre] [nvarchar](50) NOT NULL,
	[date_creation] [smalldatetime] NOT NULL,
	[description] [nvarchar](max) NULL,
	[est_detruite] [bit] NOT NULL,
	[id_lieu] [int] NOT NULL,
	[id_oeuvre_recouverte] [int] NULL,
 CONSTRAINT [PK_Oeuvres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_prise_vue] [datetime] NOT NULL,
	[nom_fichier] [nvarchar](255) NOT NULL,
	[etat_oeuvre] [nvarchar](500) NULL,
	[id_oeuvre] [int] NOT NULL,
	[id_benevole] [int] NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Techniques]    Script Date: 01/10/2026 13:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Techniques](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Techniques] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artistes] ON 

INSERT [dbo].[Artistes] ([id], [pseudonyme], [nom_reel], [bio], [nationalite]) VALUES (4, N'Banksy', NULL, N'Artiste anonyme mondialement cÃ©lÃ¨bre pour ses pochoirs engagÃ©s et satiriques.', N'Britannique')
INSERT [dbo].[Artistes] ([id], [pseudonyme], [nom_reel], [bio], [nationalite]) VALUES (5, N'Invader', N'Franck Slama', N'Artiste urbain franÃ§ais connu pour ses mosaÃ¯ques en cÃ©ramique de Space Invaders.', N'FranÃ§aise')
INSERT [dbo].[Artistes] ([id], [pseudonyme], [nom_reel], [bio], [nationalite]) VALUES (6, N'Miss.Tic', N'Radhia Novat', N'PoÃ©tesse et plasticienne majeure du street art parisien, connue pour ses silhouettes fÃ©minines.', N'FranÃ§aise')
SET IDENTITY_INSERT [dbo].[Artistes] OFF
GO
SET IDENTITY_INSERT [dbo].[Benevoles] ON 

INSERT [dbo].[Benevoles] ([id], [nom], [prenom], [email]) VALUES (4, N'Dupont', N'Alice', N'alice.dupont@art2rue.org')
INSERT [dbo].[Benevoles] ([id], [nom], [prenom], [email]) VALUES (5, N'Martin', N'Lucas', N'lucas.martin@art2rue.org')
INSERT [dbo].[Benevoles] ([id], [nom], [prenom], [email]) VALUES (6, N'Bernard', N'ChloÃ©', N'chloe.bernard@art2rue.org')
SET IDENTITY_INSERT [dbo].[Benevoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Lieux] ON 

INSERT [dbo].[Lieux] ([id], [nom], [adresse], [quartier], [latitude], [longitude]) VALUES (6, N'Le Hangar Ã  Bananes', N'21 Quai des Antilles', N'ÃŽle de Nantes', CAST(47.2008700 AS Decimal(9, 7)), CAST(-1.5731200 AS Decimal(9, 7)))
INSERT [dbo].[Lieux] ([id], [nom], [adresse], [quartier], [latitude], [longitude]) VALUES (7, N'Passage Pommeraye', N'Rue de la Fosse', N'Centre-Ville', CAST(47.2135000 AS Decimal(9, 7)), CAST(-1.5582000 AS Decimal(9, 7)))
INSERT [dbo].[Lieux] ([id], [nom], [adresse], [quartier], [latitude], [longitude]) VALUES (8, N'Le Lieu Unique', N'Quai Ferdinand-Favre', N'Malakoff - PrÃ© Gauchet', CAST(47.2155000 AS Decimal(9, 7)), CAST(-1.5458000 AS Decimal(9, 7)))
SET IDENTITY_INSERT [dbo].[Lieux] OFF
GO
INSERT [dbo].[Oeuvre_Artiste] ([id_oeuvre], [id_artiste]) VALUES (3, 4)
INSERT [dbo].[Oeuvre_Artiste] ([id_oeuvre], [id_artiste]) VALUES (4, 5)
INSERT [dbo].[Oeuvre_Artiste] ([id_oeuvre], [id_artiste]) VALUES (5, 4)
GO
INSERT [dbo].[Oeuvre_Technique] ([id_oeuvre], [id_technique]) VALUES (3, 5)
INSERT [dbo].[Oeuvre_Technique] ([id_oeuvre], [id_technique]) VALUES (3, 6)
INSERT [dbo].[Oeuvre_Technique] ([id_oeuvre], [id_technique]) VALUES (4, 7)
GO
SET IDENTITY_INSERT [dbo].[Oeuvres] ON 

INSERT [dbo].[Oeuvres] ([Id], [titre], [date_creation], [description], [est_detruite], [id_lieu], [id_oeuvre_recouverte]) VALUES (3, N'La Fille au Ballon', CAST(N'2022-04-12T14:30:00' AS SmallDateTime), N'Fresque murale au pochoir reprÃ©sentant une jeune fille laissant s envoler un ballon rouge.', 1, 6, NULL)
INSERT [dbo].[Oeuvres] ([Id], [titre], [date_creation], [description], [est_detruite], [id_lieu], [id_oeuvre_recouverte]) VALUES (4, N'Space Pixel #44', CAST(N'2023-09-18T10:15:00' AS SmallDateTime), N'MosaÃ¯que en carreaux de cÃ©ramique reprÃ©sentant un envahisseur rÃ©tro en pixel art 8-bit.', 0, 7, NULL)
INSERT [dbo].[Oeuvres] ([Id], [titre], [date_creation], [description], [est_detruite], [id_lieu], [id_oeuvre_recouverte]) VALUES (5, N'Renaissance Urbaine', CAST(N'2024-05-02T18:00:00' AS SmallDateTime), N'Grande composition colorÃ©e Ã  la bombe peinte par-dessus l ancienne fresque dÃ©gradÃ©e.', 0, 6, 3)
SET IDENTITY_INSERT [dbo].[Oeuvres] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([id], [date_prise_vue], [nom_fichier], [etat_oeuvre], [id_oeuvre], [id_benevole]) VALUES (1, CAST(N'2022-04-15T16:45:00.000' AS DateTime), N'hangar_ballon_inauguration.jpg', N'Parfait Ã©tat, couleurs vives.', 3, 4)
INSERT [dbo].[Photos] ([id], [date_prise_vue], [nom_fichier], [etat_oeuvre], [id_oeuvre], [id_benevole]) VALUES (2, CAST(N'2023-02-10T11:20:00.000' AS DateTime), N'hangar_ballon_degrade.jpg', N'Peinture Ã©caillÃ©e, dÃ©but de dÃ©gradation.', 3, 5)
INSERT [dbo].[Photos] ([id], [date_prise_vue], [nom_fichier], [etat_oeuvre], [id_oeuvre], [id_benevole]) VALUES (3, CAST(N'2023-09-20T14:10:00.000' AS DateTime), N'pommeraye_pixel_neuf.jpg', N'MosaÃ¯que complÃ¨te sans carreau manquant.', 4, 4)
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[Techniques] ON 

INSERT [dbo].[Techniques] ([id], [nom]) VALUES (6, N'Bombe aÃ©rosol')
INSERT [dbo].[Techniques] ([id], [nom]) VALUES (8, N'Collage')
INSERT [dbo].[Techniques] ([id], [nom]) VALUES (7, N'MosaÃ¯que')
SET IDENTITY_INSERT [dbo].[Techniques] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Artistes_pseudonyme]    Script Date: 01/10/2026 13:30:46 ******/
ALTER TABLE [dbo].[Artistes] ADD  CONSTRAINT [UQ_Artistes_pseudonyme] UNIQUE NONCLUSTERED 
(
	[pseudonyme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Benevoles_email]    Script Date: 01/10/2026 13:30:46 ******/
ALTER TABLE [dbo].[Benevoles] ADD  CONSTRAINT [UQ_Benevoles_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Techniques_nom]    Script Date: 01/10/2026 13:30:46 ******/
ALTER TABLE [dbo].[Techniques] ADD  CONSTRAINT [UQ_Techniques_nom] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Oeuvres] ADD  CONSTRAINT [DEFAULT_Oeuvres_date_creation]  DEFAULT (getdate()) FOR [date_creation]
GO
ALTER TABLE [dbo].[Oeuvres] ADD  CONSTRAINT [DEFAULT_Oeuvres_est_detruite]  DEFAULT ((0)) FOR [est_detruite]
GO
ALTER TABLE [dbo].[Photos] ADD  CONSTRAINT [DF_Photos_date_prise_vue]  DEFAULT (getdate()) FOR [date_prise_vue]
GO
ALTER TABLE [dbo].[Oeuvre_Artiste]  WITH CHECK ADD  CONSTRAINT [FK_Oeuvre_Artiste_Artistes] FOREIGN KEY([id_artiste])
REFERENCES [dbo].[Artistes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Oeuvre_Artiste] CHECK CONSTRAINT [FK_Oeuvre_Artiste_Artistes]
GO
ALTER TABLE [dbo].[Oeuvre_Artiste]  WITH CHECK ADD  CONSTRAINT [FK_Oeuvre_Artiste_Oeuvres] FOREIGN KEY([id_oeuvre])
REFERENCES [dbo].[Oeuvres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Oeuvre_Artiste] CHECK CONSTRAINT [FK_Oeuvre_Artiste_Oeuvres]
GO
ALTER TABLE [dbo].[Oeuvre_Technique]  WITH CHECK ADD  CONSTRAINT [FK_Oeuvre_Technique_Oeuvres] FOREIGN KEY([id_oeuvre])
REFERENCES [dbo].[Oeuvres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Oeuvre_Technique] CHECK CONSTRAINT [FK_Oeuvre_Technique_Oeuvres]
GO
ALTER TABLE [dbo].[Oeuvre_Technique]  WITH CHECK ADD  CONSTRAINT [FK_Oeuvre_Technique_Techniques] FOREIGN KEY([id_technique])
REFERENCES [dbo].[Techniques] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Oeuvre_Technique] CHECK CONSTRAINT [FK_Oeuvre_Technique_Techniques]
GO
ALTER TABLE [dbo].[Oeuvres]  WITH CHECK ADD  CONSTRAINT [FK_Oeuvres_Lieux1] FOREIGN KEY([id_lieu])
REFERENCES [dbo].[Lieux] ([id])
GO
ALTER TABLE [dbo].[Oeuvres] CHECK CONSTRAINT [FK_Oeuvres_Lieux1]
GO
ALTER TABLE [dbo].[Oeuvres]  WITH CHECK ADD  CONSTRAINT [FK_Oeuvres_Oeuvres] FOREIGN KEY([id_oeuvre_recouverte])
REFERENCES [dbo].[Oeuvres] ([Id])
GO
ALTER TABLE [dbo].[Oeuvres] CHECK CONSTRAINT [FK_Oeuvres_Oeuvres]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Benevoles] FOREIGN KEY([id_benevole])
REFERENCES [dbo].[Benevoles] ([id])
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Benevoles]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Oeuvres] FOREIGN KEY([id_oeuvre])
REFERENCES [dbo].[Oeuvres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Oeuvres]
GO
ALTER TABLE [dbo].[Lieux]  WITH CHECK ADD  CONSTRAINT [CK_Lieux_Coordonnees_FranceMetropolitaine] CHECK  ((([latitude] IS NULL OR [latitude]>=(41.0) AND [latitude]<=(51.5)) AND ([longitude] IS NULL OR [longitude]>=(-5.5) AND [longitude]<=(10.0))))
GO
ALTER TABLE [dbo].[Lieux] CHECK CONSTRAINT [CK_Lieux_Coordonnees_FranceMetropolitaine]
GO
